In [1]:
import pandas as pd

In [12]:
inc_edu_age = pd.read_csv("/Users/poojazare/Documents/Spring2018/CS6001-SpatialTemporal/Project/income_education_hardship.csv")
inc_edu_age.head(5)

,HARDSHIP INDEX,COMMUNITY AREA NAME,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME
0,39.0,Rogers Park,23.6,18.2,8.7,27.5,23939
1,46.0,West Ridge,17.2,20.8,8.8,38.5,23040
2,20.0,Uptown,24.0,11.8,8.9,22.2,35787
3,17.0,Lincoln Square,10.9,13.4,8.2,25.5,37524
4,6.0,North Center,7.5,4.5,5.2,26.2,57123

In [13]:
inc_edu_age.shape

(78, 7)

In [14]:
inc_edu_age['COMMUNITY AREA NAME'].nunique()

78

In [15]:
smalldf = pd.read_csv("/Users/poojazare/Documents/Spring2018/CS6001-SpatialTemporal/Project/datap3_clean.csv")

In [16]:
smalldf.shape

(1779710, 83)

In [17]:
smalldf["Community.Area"].nunique()

78

In [18]:
smalldf.head()

,Unnamed: 0,ID,Date,Block,IUCR,Description,Location.Description,Ward,Community.Area,FBI.Code,...,Timeblock_6,Timeblock_9,Weekday_Friday,Weekday_Monday,Weekday_Saturday,Weekday_Sunday,Weekday_Thursday,Weekday_Tuesday,Weekday_Wednesday,closest_station
0,1,10000092,03/18/2015 07:44:00 PM,047XX W OHIO ST,041A,AGGRAVATED: HANDGUN,STREET,28,25,04B,...,0,0,0,0,0,0,0,0,1,1.452234
1,2,10000095,03/18/2015 10:45:00 PM,044XX S LAKE PARK AVE,0486,DOMESTIC BATTERY SIMPLE,APARTMENT,4,39,08B,...,0,0,0,0,0,0,0,0,1,1.933692
2,3,10000096,03/18/2015 10:30:00 PM,051XX S MICHIGAN AVE,0460,SIMPLE,APARTMENT,3,40,08B,...,0,0,0,0,0,0,0,0,1,0.414610
3,4,10000097,03/18/2015 09:00:00 PM,047XX W ADAMS ST,031A,ARMED: HANDGUN,SIDEWALK,28,25,03,...,0,0,0,0,0,0,0,0,1,1.284859
4,5,10000098,03/18/2015 10:00:00 PM,049XX S DREXEL BLVD,0460,SIMPLE,APARTMENT,4,39,08B,...,0,0,0,0,0,0,0,0,1,1.375457

In [19]:
smalldf['Income']=smalldf["Community.Area"].apply(lambda row: inc_edu_age.iloc[int(row)-1].iloc[6])

In [20]:
smalldf['HARDSHIP INDEX']=smalldf["Community.Area"].apply(lambda row: inc_edu_age.iloc[int(row)-1].iloc[0])

In [21]:
smalldf['Under18_over64']=smalldf["Community.Area"].apply(lambda row: inc_edu_age.iloc[int(row)-1].iloc[5])

In [22]:
smalldf['Unemployed']=smalldf["Community.Area"].apply(lambda row: inc_edu_age.iloc[int(row)-1].iloc[4])

In [23]:
smalldf['House_below_poverty']=smalldf["Community.Area"].apply(lambda row: inc_edu_age.iloc[int(row)-1].iloc[2])

In [24]:
smalldf.head()
print(smalldf.shape)
smalldf=smalldf[smalldf["Location.Description"]!="OTHER"]
smalldf=pd.get_dummies(smalldf,columns=["Location.Description"])
print(smalldf.shape)
smalldf.to_csv("chicago_final_clean.csv", index=False)

(1779710, 88)
(1709856, 111)